Repository bitcoinops/bitcoinops.github.io, pull requests merged in 2019-11, with the labels that each got.

#262 Newsletters: Translate 67 into Japanese
  _posts/ja/newsletters/2019-10-09-newsletter.md
Labels: Newsletters, localization-japanese

#260 Compatibility: Add RBF data conditionals to templates
  _includes/templates/compatibility/rbf.md
  en/compatibility.md
Labels: Compatibility

#245 Topics: add new topics (bitschmidty)
  _includes/references.md
  _topics/en/bech32.md
  _topics/en/block-explorers.md
  _topics/en/consensus-cleanup-soft-fork.md
  _topics/en/covenants.md
  _topics/en/dandelion.md
  _topics/en/sidechains.md
  _topics/en/signet.md
  _topics/en/utreexo.md
Labels: Topics

#244 Topics: add new topics (moneyball)
  _includes/references.md
  _posts/en/newsletters/2018-12-28-newsletter.md
  _topics/en/coinjoin.md
  _topics/en/eltoo.md
  _topics/en/mast.md
  _topics/en/payjoin.md
  _topics/en/schnorr-signatures.md
  _topics/en/sighash_noinput.md
  _topics/en/taproot.md
  _topics/en/tapscript.md
Labels: Topics

#267 Translate newsletter-68 into Japanese
  _posts/ja/newsletters/2019-10-16-newsletter-ja.md
Labels: localization-japanese

#272 Translate Newsletter#69 into Japanese
  _posts/ja/newsletters/2019-10-23-newsletter-ja.md
Labels: localization-japanese

#261 [newsletters] Add newsletter indexes for other languages
  _layouts/newsletters.md
  en/newsletters.md
  ja/newsletters.md
  newsletters.md
Labels: Internationalization

#264 add Casa Keymaster compatibility info
  _data/compatibility/casa.yaml
  en/compatibility/casa.md
  img/compatibility/casa/casa.png
  img/compatibility/casa/rbf/approve-send-transaction.png
  img/compatibility/casa/rbf/transaction-list.png
  img/compatibility/casa/segwit/receive-p2sh-wrapped-segwit.png
  img/compatibility/casa/segwit/send-to-bech32.png
Labels: Compatibility
