Repository bitcoinops/bitcoinops.github.io, pull requests merged in 2020-01, with the labels that each got.

#311 News 36: typo fix: s/FindAndReplace/FindAndDelete/
  _posts/en/newsletters/2019-03-05-newsletter.md
Labels: newsletters

#317 Newsletters: translate 74 into Spanish
  _posts/es/newsletters/2019-11-27-newsletter.md
Labels: localization-spanish

#314 Newsletters: add 80 (2019-01-13)
  _includes/references.md
  _posts/en/newsletters/2020-01-15-newsletter.md
Labels: newsletters

#313 Newsletter 77:Translate into Japanese
  _posts/ja/newsletters/2019-12-18-newsletter-ja.md
Labels: localization-japanese

#324 Add Cash App to Compatibility Matrix
  _data/compatibility/cashapp.yaml
  en/compatibility/cashapp.md
  img/compatibility/cashapp/cashapp.png
  img/compatibility/cashapp/rbf/incoming-notification.png
  img/compatibility/cashapp/rbf/send-confirm.png
  img/compatibility/cashapp/rbf/send-screen-default.png
  img/compatibility/cashapp/rbf/transaction-details-incoming.png
  img/compatibility/cashapp/rbf/transaction-details-sent.png
  img/compatibility/cashapp/rbf/transaction-list-incoming.png
  img/compatibility/cashapp/rbf/transaction-list-sent.png
  img/compatibility/cashapp/segwit/receive-screen.png
  img/compatibility/cashapp/segwit/send-confirm.png
  img/compatibility/cashapp/segwit/send-screen.png
Labels: compatibility

#329 Add River Financial to Compatibility Matrix
  _data/compatibility/river-financial.yaml
  en/compatibility/river-financial.md
  img/compatibility/river-financial/rbf/rbf_dashboard.png
  img/compatibility/river-financial/rbf/rbf_new_onchain_deposit.png
  img/compatibility/river-financial/rbf/rbf_onchain_deposit.png
  img/compatibility/river-financial/river-financial.png
  img/compatibility/river-financial/segwit/deposit_onchain.png
  img/compatibility/river-financial/segwit/withdraw_onchain.png
Labels: compatibility

#330 Newsletter 78:Translate into Japanese
  _posts/ja/newsletters/2019-12-28-newsletter-ja.md
Labels: localization-japanese
